<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'photos:list' %}">SDFW</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">로그아웃</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">로그인</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>